/* FONT SIZES: */
/* - title:    24 */
/* - password: 36 */
/* - normal:   16 */



/* entire document */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@font-face {
    font-family: departure;
    src: url(DepartureMonoNerdFontMono-Regular.otf);
}
* {
    font-family: departure;
    color: lime;
    user-select: none;
    -moz-user-select: none;
}
body {
    background: black;
}
.everything {
    /* center stuff */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
i {
    background: none;
    font-style: normal;
}
.thin {
    font-family: sans-serif;
}
h1 {
    padding-left: 12px;
}



.title {
    font-size: 24px;
}
.version {
    font-size: 16px;
}
.main {
    display: flex;
    flex-direction: column;

    border: solid;
    border-color: lime;
    border-radius: 5px;
}

/* GENERATION */
.gen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

    border: none;
    border-bottom: dashed;
    border-color: lime;
}
#password {
    cursor: copy;
    font-size: 40px;
    gap: 24px;
    text-shadow: 0 0 10px lime;

    /* wrap if too long*/
    max-width: 80vw;
    word-break: break-all;
    white-space: pre-wrap;

    /* stuff for animation */
    position: relative;
    z-index: 1;
    /* MOBILE ANIMATION */
    transform: scale(1);
    transition: transform 0.2s ease;
}
/* MOBILE MODE */
#password:active {
    color: black;
    background-color: lime;
    transform: scale(0.98);
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
/* track - webkit & firefox*/
input[type="range"] {
    /* remove native styles */
    appearance: none;
    
    /* adding my own stuff */
    width: 250px;
    height: 20px;
    background: none;
    border: solid lime;
    
    /* hide the HUGE shadow that isn't IN the slider */
    overflow: hidden;
}
/* thumb - webkit*/
input[type="range"]::-webkit-slider-thumb {
    /* remove native style */
    appearance: none;
    
    /* custom thumb */
    height: inherit;
    width: 16px;
    background-color: lime;
    border: none;
    
    /* custom progress */
    box-shadow: -250px 0 0 250px lime
}
/* thumb - firefox */
input[type="range"]::-moz-range-thumb {
    /* cant remove the thumb */
    /* custom thumb */
    height: inherit;
    width: 16px;
    background-color: lime;
    border-radius: 0;
    border: none;
    
    /* custom progress */
    box-shadow: -250px 0 0 250px lime;
}
input[type="range"]:hover { cursor: ew-resize; }
#gen-button {
    height: 36px;
    width: 250px;
    border: solid;
    border-radius: 5px;
    border-color: lime;
    background-color: black;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    
    /* align icon */
    display: flex;
    align-items: center;
    justify-content: center;
}
#gen-button::before {
    content: "\f074";
    font-size: 30px;
    color: lime;
}
#gen-button:active {
    background-color: lime;
    border-color: lime ;
}
#gen-button:active::before {
    color: black;
}
@keyframes nuh-uh {
    0% {transform: translatex(-2px);}
    50% {transform: translateX(4px);}
    100% {transform: translateX(-2px);}
}




/* SETTINGS */
.settings {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    padding: 20px;
    gap: 36px;
}
.settings-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.check-cont {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 12px;
  cursor: pointer; /* pointer for hovering text */
}
input[type="checkbox"] {
    cursor: pointer; /* pointer for hovering box */
    /* hide the native checkbox */
    appearance: none;
    -webkit-appearance: none;
    background: none;
    margin: 0;

    /* styling for unchecked box */
    color: inherit;
    width: 20px;
    height: 20px;
    border: 2px solid lime;

    /* align ::before to horiz and vert center of custom control */
    display: grid;
    place-content: center;
}
/* define pseudo-element for checked state */
input[type="checkbox"]::before {
    content: "\f0e1e";
    color: black;
    font-size: 20px;
    display: grid;
    place-content: center;

    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 0.2s transform ease-in-out;

    /* for windows high-contrast mode */
    background-color: lime;
}
/* show pseudo-element for checked state */
input[type="checkbox"]:checked::before {
    transform: scale(1);
}





/* DESKTOP MODE */
@media (min-width: 580px) {
    .input-div {
        flex-direction: row;
    }
    #gen-button {
        width: 72px;
    }

    /* password animation */
    #password::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 0;

        background-color: lime;
        transition: all 0.2s ease;
        z-index: -1;
    }
    #password:hover::after {
        left: 0;
        width: 100%;
    }
    #password:hover {
        color: black;
        z-index: 1;
    }
    @keyframes pop {
        0% {transform: scale(1);}
        50% {transform: scale(0.98);}
        100% {transform: scale(1);}
    }
}